.chatDots2.chatDots2 {
  left: 78.5377%;
  right: 16.7453%;
  top: 91.2127%;
  bottom: 5.2724%;
  width: initial;
  height: initial;
}
.chatDots.chatDots {
  width: 20px;
  height: 20px;
}
.chatDots {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.shareNetwork2.shareNetwork2 {
  left: 85.1415%;
  right: 10.1415%;
  top: 91.2127%;
  bottom: 5.2724%;
  width: initial;
  height: initial;
}
.shareNetwork.shareNetwork {
  width: 20px;
  height: 20px;
}
.shareNetwork {
  width: 20px;
  height: 20px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.thumbsUp2.thumbsUp2 {
  left: 71.934%;
  right: 23.3491%;
  top: 91.2127%;
  bottom: 5.2724%;
  width: initial;
  height: initial;
}
.thumbsUp.thumbsUp {
  width: 20px;
  height: 20px;
}
.thumbsUp {
  width: 20px;
  height: 20px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 1932px;
  top: -101.6655px;
  width: 424px;
  height: 569px;
  flex-direction: column;
  align-items: flex-start;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 1px #fff;
  outline-offset: -1px;
}
.learnMore {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.1415%;
  right: 69.5755%;
  top: 90.5097%;
  bottom: 5.2724%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pellentesqueNonEfficiturMiAliq {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.1415%;
  right: 10.1415%;
  top: 73.638%;
  bottom: 15.1142%;
  height: min-content;
  flex-direction: column;
}
._10February2022 {
  color: #195a00;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.1415%;
  right: 58.4906%;
  top: 66.6081%;
  bottom: 29.174%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashDphM2U1xq0U {
  position: absolute;
  left: 0;
  right: 0.2358%;
  top: 0;
  bottom: 38.6643%;
  background-color: #94959b;
  background-image:/* webpackIgnore: true */ url('assets/unsplashDphM2U1xq0U.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
