.chefCard1.chefCard1 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle8863.rectangle8863 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle886334.jpeg'),
    /* webpackIgnore: true */ url('assets/rectangle886333.jpeg');
}
.root {
  position: absolute;
  left: 1932px;
  top: -3038px;
  width: 312px;
  height: 391px;
  flex-direction: column;
  align-items: flex-start;
}
