.root {
  position: absolute;
  left: -2554px;
  top: 5466px;
  width: 376px;
  height: 79px;
  flex-direction: column;
  align-items: flex-start;
}
.unsplashOFismyezPnY {
  position: absolute;
  left: 0;
  right: 78.7234%;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashOFismyezPnY.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._125 {
  color: #195a00;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.6702%;
  right: 63.2979%;
  top: 68.3544%;
  bottom: -1.2658%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lettuceLeaf {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.6702%;
  right: 43.617%;
  top: -5.0633%;
  bottom: 69.6203%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lacusNisiEtAcDapibusVelitInCon {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.6702%;
  right: 0;
  top: 35.443%;
  bottom: 36.7089%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
