.root {
  position: absolute;
  left: 2304px;
  top: 1056px;
  width: 312px;
  height: 391px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle8863 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/rectangle88632.jpeg'),
    /* webpackIgnore: true */ url('assets/rectangle8863.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
.rectangle8867 {
  position: absolute;
  left: 0;
  right: 41.9872%;
  top: 82.8645%;
  bottom: 0;
  border-radius: 0 0 0 6px;
  background-color: #fff;
}
.dEstwood {
  color: #333;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.4103%;
  right: 63.141%;
  top: 84.399%;
  bottom: 8.9514%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.chiefChef {
  color: #333;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.4103%;
  right: 70.8333%;
  top: 92.0716%;
  bottom: 2.3018%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
