.root {
  position: absolute;
  left: 1117px;
  top: 2789px;
  width: 56px;
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: 15.9443%;
  right: 15.9443%;
  top: 12.5%;
  bottom: 62.5%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 18.75%;
  right: 18.75%;
  top: 65.625%;
  bottom: 15.625%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 10.9375%;
  right: 10.9375%;
  top: 62.5%;
  bottom: 31.25%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 9.375%;
  right: 9.375%;
  top: 50%;
  bottom: 50%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
