.chefCard1.chefCard1 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle8863.rectangle8863 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle886328.jpeg'),
    /* webpackIgnore: true */ url('assets/rectangle886327.jpeg'),
    /* webpackIgnore: true */ url('assets/rectangle886326.jpeg'),
    /* webpackIgnore: true */ url('assets/rectangle886325.jpeg');
  background-size: cover, cover, cover, cover;
}
.dEstwood {
  color: #333;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.4103%;
  right: 57.0513%;
  top: 84.399%;
  bottom: 8.9514%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.chiefChef {
  color: #333;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.4103%;
  right: 83.3333%;
  top: 92.0716%;
  bottom: 2.3018%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: absolute;
  left: 2964px;
  top: 902px;
  width: 312px;
  height: 391px;
  flex-direction: column;
  align-items: flex-start;
}
